body {
	background: #352f5b;
}
.container {
	max-width: 400px;
}
input[type='text'],
input[type='text']:focus {
	color: #fff;
	border: none;
	background: rgba(0, 0, 0, 0.2);
	max-width: 400px;
}
i {
	cursor: pointer;
	margin-left: 0.5rem;
}
.todos li {
	background: #423a6f;
}
.todos li div {
	width: 80%;
}
.filtered {
	display: none !important;
}
.delete {
	color: red;
}
